In [157]:
import numpy as np
import pandas as pd

## Numpy

In [158]:
# Question 1a
def find_common_elements(A,B):
    return np.intersect1d(A, B)

In [161]:
# Question 1b
# we are considering 10 element array (arbitrary)
A=np.random.rand(10,1)
B=np.random.rand(10,1)
np.array_equal(A,B)

False

In [162]:
# Question 1c
np.add(A, B, out=B)
np.divide(A, -2, out=A)
np.multiply(A, B, out=A)

array([[-0.30611215],
       [-0.05247496],
       [-0.00961412],
       [-0.31616792],
       [-0.38965614],
       [-0.08675502],
       [-0.35506187],
       [-0.2557791 ],
       [-0.35923738],
       [-0.05153054]])

In [167]:
# Question 1d
C=np.random.rand(10,2)
X=C[:,0]
Y=C[:,1]
P=np.zeros([C.shape[0],2])
P[:,0]=np.sqrt(X*X+Y*Y)
P[:,1]=np.arctan(Y/X)
print(P)

[[1.25402208 0.82048109]
 [1.00161849 0.16017543]
 [1.18467344 0.60833178]
 [1.1977367  0.884694  ]
 [1.19189339 0.80229438]
 [0.97744727 0.35945466]
 [0.89529596 0.52795654]
 [0.89218492 0.88682476]
 [0.67590858 0.59130904]
 [0.78716907 0.43754314]]

## Pandas

In [83]:
#Question 2a
def unique_rows(df):
    return df.drop_duplicates().shape[0]

In [92]:
# Question 2b
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.308967 -0.175154 -0.133812
1  0.244530  0.129670 -0.374201
2  0.083275 -0.360052  0.276777
3 -0.261851  0.106142  0.155709
4 -0.191624  0.190888  0.000736

In [156]:
# Question 2c
df1 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df1.groupby('grps')['vals'].apply(lambda grps: grps.nlargest(3).sum())

grps
a    409
b    156
c    345
Name: vals, dtype: int64